HOST=http://0.0.0.0
PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=boiler_plate_express_rest
DB_PORT=3306
DB_DIALECT=mysql

API_KEY=your_api_key_here
ACCESS_TOKEN_SECRET=31b6ac46c98cead6563a8b392d020177bf1d52d9b33c8071156c5105e967c8d6
ACCESS_TOKEN_EXPIRE_MINUTES=10080
REFRESH_TOKEN_SECRET=afc825658a242566e4f86f8b2f126b457b9a81de4df75b02fe6589b927bd4641
REFRESH_TOKEN_EXPIRE_DAYS=7